<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div style="background-color: #ddd; height: 60px; display: none">
        <table>
            <tr>
                <td>
                    <img src="~/Images/logo.png" />
                </td>
                <td>
                    <br />
                    Invoicing Solution
                </td>
            </tr>
        </table>
    </div>
    <div style="height:15px;background-color:#f4f4f4; "></div>
    <div class="col-12" style="height: 89vh; ">
        <div class="row" style="height:89vh">
            <div class="col-2" style="border-right:solid 1px grey; height:89vh; padding:0">
                <ul class="list-group">
                    <li id="idOrderSidemenuItem" class="sidebar disabled"><a href="/Order">Orders</a></li>
                    <li id="idProductMasterSidemenuItem" class="sidebar"><a href="/ProductMaster">Product Master</a></li>
                    <li id="idCustomerMasterSidemenuItem" class="sidebar">Customer Master</li>
                </ul>
            </div>
            <div class="col-10">@RenderBody()</div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
